<footer class="footer container-fluid" style="margin-top: 210px">
    <hr>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4" align="left" style="margin-top: 10px;margin-left: 80px">
            <h2 style="color: #009E94">聚集地论坛 Gathering Place Forum</h2>
            <p>我们一直致力于为广大同好提供一个优质的兴趣交流平台！</p>
        </div>
        <div class="col-2" style="margin-top: 10px">
            <h5>关于我们</h5>
            我们是一个年轻的团队<br>
            我们有着超凡的想象力</p>
        </div>
        <div class="col-2" style="margin-top: 20px">
            <h5>联系我们</h5>
            <a href="#" style="color: #0b2e13">微博</a>
            <a href="#" style="color: #0b2e13">邮箱</a>
            <a href="#" style="color: #0b2e13">公众号</a>
        </div>

    </div>


</footer>