<!--CSS-->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/open-iconic-bootstrap.css">
<!--<link rel="stylesheet" href="/css/auth.css">-->
<!--JS-->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>-->
<!--<script src="/js/jquery.validate.min.js"></script>-->