<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到聚集地论坛！</title>
    {{>layout/head}}
</head>
<body style="background: #eff0ea">
{{>layout/navbar}}

<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- 轮播图片 -->
    <div class="carousel-inner" style="width: 4000px;height:450px" >
        <div class="carousel-item active">
            <img src="../img/long.jpg"  >
        </div>
        <div class="carousel-item">
            <img src="../img/longc.jpg">
        </div>
        <div class="carousel-item">
            <img src="../img/longb.jpg">
        </div>
    </div>
    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<div class="row " style="margin-top: 10px">
    <div class="col-1"></div>
    <div class="col-7" style="padding: 20px">
        <h4>热门文章</h4>
        <hr>
        <div>
            <div class="card" style="padding: 10px 20px 10px 20px">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="" style="height: 100%;width: 100%">
                    </div>
                    <div class="col-sm-10">
                        <a href="#" style="color: #0b2e13"> <h4>《狮子王》的三个泪点，我都看哭了！</h4></a>
                        <p>《狮子王》是由华特·迪士尼影片公司出品的动画电影，
                            由罗杰·艾勒斯、罗伯·明可夫联合执导。</p>
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-2"><small>作者</small></div>
                            <div class="col-2"><small>今天9:23</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="padding: 10px 20px 10px 20px">
                <div class="row">
                    <div class="col-sm-2">
                        <img src=""  style="height: 100%;width: 100%">
                    </div>
                    <div class="col-sm-10">
                        <a href="#" style="color: #0b2e13"> <h4>习近平讲述的故事｜这个小县城不简单</h4></a>
                        <p>山西省朔州市右玉县
                            位于山西和内蒙古交界
                            这个小县城
                            曾被习近平总书记多次提及</p>
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-2"><small>作者</small></div>
                            <div class="col-2"><small>今天9:23</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="padding: 10px 20px 10px 20px">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="" style="height: 100%;width: 100%">
                    </div>
                    <div class="col-sm-10">
                        <a href="#" style="color: #0b2e13"> <h4>中国联通辟谣"不支持华为</h4></a>
                        <p>目前，中国联通官方微博发布微博，请进行置顶，对实施造谣的自媒体予以曝光和强烈的谴责</p>
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-2"><small>作者</small></div>
                            <div class="col-2"><small>今天9:23</small></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-3" style="padding: 20px">
        <h4>热门版块</h4>
        <hr>
        <div class="card" style="padding: 10px">
            <h4>今日热词</h4>
            <a href="#" style="color: #0b2e13">仙桃没有桃99+</a>
            <a href="#" style="color: #0b2e13">外交部发言66+</a>
            <a href="#" style="color: #0b2e13">华为新声明33+</a>
        </div>
        <br>
        <div class="card" style="padding: 10px">
            <a href="#" style="color: #0b2e13"> <h4>音乐区</h4></a>
            <p>音乐是反映人类现实生活情感的一种艺术（英名称：music；法文名称： musique；意大利文：musica）。
            </p>
        </div>
        <br>
        <div class="card" style="padding: 10px">
            <a href="#" style="color: #0b2e13"> <h4>动漫区</h4></a>
            <p>动漫，即动画、漫画的合称，指动画与漫画的集合，取这两个词的第一个字合二为一称之为“动漫”。
            </p>
        </div>
        <br>
        <div class="card" style="padding: 10px">
            <a href="#" style="color: #0b2e13"> <h4>游戏区</h4></a>
            <p>游戏，随人类而造。在人类社会中，游戏不仅仅保留着动物本能活动的特质，为了自身发展的需要创造出多种多样的游戏活动。
            </p>
        </div>
    </div>

    <div class="col-1"></div>

</div>

<footer class="footer" style="margin-top: 170px">
    <hr>
    <div class="row">
        <div class="col-5" align="left" style="margin-left: 180px;margin-top: 10px">
            <h2 style="color: #009E94">聚集地论坛 Gathering Place Forum</h2>
            <p>我们一直致力于为广大同好提供一个优质的兴趣交流平台！</p>
        </div>
        <div class="col-3" style="margin-top: 10px">
            <h5>关于我们</h5>
            我们是一个年轻的团队<br>
            我们有着超凡的想象力</p>
        </div>
        <div class="col-2" style="margin-top: 20px">
            <h5>联系我们</h5>
            <a href="#" style="color: #0b2e13">微博</a>
            <a href="#" style="color: #0b2e13">邮箱</a>
            <a href="#" style="color: #0b2e13">公众号</a>
        </div>

    </div>


</footer>
</body>
</html>