<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    {{>layout/head}}

</head>
<body style="background: #eff0ea">
{{>layout/navbar}}

<div class="row" style="margin-top: 80px">
    <div class="col-2"></div>
    <div class="col-10">
                <h2>我发的帖子</h2>
        <div class="row">
        <div class="col-7">
            <div class="card" style="padding: 10px 20px 10px 20px">
            <a href="#" style="color: #0b2e13"> <h4>日韩贸易战升级，韩国深陷绝境，普京及时出手</h4></a>
            <p>7月初日本正式对韩国实施了出口限制，用于制造半导体的高纯度氟化氢等原材料被禁止向韩国出口。
                如果得不到这些原材料，韩国三星、LG等高科技产业将受到严重冲击，甚至韩国经济都将受到巨大影响，
                为了让日本取消出口禁令，韩国政府想了不少办法，然而日本政府态度强硬，拒绝做出让步。
                <a href="#" style="color:#7a5e3f">查看原文</a> </p>
            <div class="row">
                <div class="col-8"></div>
                <div class="col-2">今天9:23</div>
                <div class="col-1"><img src="../img/like.png" style="height: 20px;width: 20px"></div>
                <div class="col-1"><a href=""><img src="../img/delete.png" style="height: 20px;width: 20px"></a></div>
            </div>
        </div>
            <div class="card" style="padding: 10px 20px 10px 20px">
                <a href="#" style="color: #0b2e13"> <h4>加拿大外交部：又一加拿大公民在华被拘</h4></a>
                <p>【环球网报道 记者 朱梦颖】综合美国有线电视新闻网(CNN)、加拿大广播公司(CBC)消息，加拿大全球事务部(外交部)13日证实，
                    又有一名加拿大公民在中国被拘留。
                    <a href="#" style="color:#7a5e3f">查看原文</a> </p>
                <div class="row ">
                    <div class="col-8"></div>
                    <div class="col-2">今天9:23</div>
                    <div class="col-1"><img src="../img/like.png" style="height: 20px;width: 20px"></div>
                    <div class="col-1"><a href=""><img src="../img/delete.png" style="height: 20px;width: 20px"></a></div>
                </div>
            </div>
            <div class="card" style="padding: 10px 20px 10px 20px">
                <a href="#" style="color: #0b2e13"> <h4>杭州失踪女童确认身亡 妈妈:接到噩耗时"不敢相信"</h4></a>
                <p>曾女士表示，凌晨4点40分左右，她就已经起床，“我们老家这里坐车，很不方便，很早就要起床。我一晚上都没睡好，
                    网上的报道我也都不敢看。”她是前往宁波还是淳安，曾女士表示票是亲戚订的并没有过多透露，但她表示会来浙江。
                    <a href="#" style="color:#7a5e3f">查看原文</a> </p>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-2">今天9:23</div>
                    <div class="col-1"><img src="../img/like.png" style="height: 20px;width: 20px"></div>
                    <div class="col-1"><a href=""><img src="../img/delete.png" style="height: 20px;width: 20px"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="padding: 10px 20px 10px 20px">
                <a href="#" style="color: #0b2e13"> <h4>杭州失踪女童确认身亡 妈妈:接到噩耗时"不敢相信"</h4></a>
                <p>曾女士表示，凌晨4点40分左右，她就已经起床，“我们老家这里坐车，很不方便，很早就要起床。我一晚上都没睡好，
                    网上的报道我也都不敢看。”她是前往宁波还是淳安，曾女士表示票是亲戚订的并没有过多透露，但她表示会来浙江。
                    <a href="#" style="color:#7a5e3f">查看原文</a> </p>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-2">今天9:23</div>
                    <div class="col-1"><img src="../img/like.png" style="height: 20px;width: 20px"></div>
                    <div class="col-1"><a href=""><img src="../img/delete.png" style="height: 20px;width: 20px"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-3" style="max-height: 500px">
            <div class="card-body" style="padding: 10px;text-align: center">
                <img class="nav-item rounded-circle" src="../img/no_avatar.png" style="width: 70px;height: 70px">
                <h5 style="text-align: center">用户名</h5>
                <div class="row" style="text-align: center">
                    <div class="col-4">发帖:xxx</div>
                    <div class="col-4">评论:xxx</div>
                    <div class="col-4">粉丝:xxx</div>
                </div>
                <br>
                <span class="badge badge-primary">音乐</span>
                <span class="badge badge-secondary">动物</span>
                <span class="badge badge-success">美食</span>
                <span class="badge badge-danger">美妆</span>
                <span class="badge badge-warning">服饰</span>
                <h6>邮箱账号：xxxxxxxxxx@jjd.com</h6>
                <a>生日：1997-09-21</a><br>
                <a>地区：重庆&nbsp;&nbsp;南岸</a><br>
                <br>
                <a>个人描述：此生此夜不长好，明月明年何处看。</a>
            </div>
        </div>
        </div>
    </div>


</div>

<footer class="footer" style="margin-top: 170px">
    <hr>
    <div class="row">
        <div class="col-5" align="left" style="margin-left: 180px;margin-top: 10px">
            <h2 style="color: #009E94">聚集地论坛 Gathering Place Forum</h2>
            <p>我们一直致力于为广大同好提供一个优质的兴趣交流平台！</p>
        </div>
        <div class="col-3" style="margin-top: 10px">
            <h5>关于我们</h5>
            我们是一个年轻的团队<br>
            我们有着超凡的想象力</p>
        </div>
        <div class="col-2" style="margin-top: 20px">
            <h5>联系我们</h5>
            <a href="#" style="color: #0b2e13">微博</a>
            <a href="#" style="color: #0b2e13">邮箱</a>
            <a href="#" style="color: #0b2e13">公众号</a>
        </div>

    </div>


</footer>

</body>
</html>